<div class="row">
    <% if (alert != '') { %>
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= alert %>
        </div>
    <% } %>
    <form action="/api/config/actualiza" method="post">
        <div class="col-xs-12">
            <div>
                <label>
                <span style="min-width: 150px;display: inline-block;">Comisión Aido</span>
                <input id="aidoFee" type="text" value="<%= (typeof config.aidoFee != 'undefined') ? config.aidoFee : 0 %>" name="aidoFee">%
                </label>
            </div>
            <div>
                <label>
                <span style="min-width: 150px;display: inline-block;">Tarifa mínima (mxn)</span>
                $<input id="minRate" type="text" value="<%= (typeof config.minRate != 'undefined' ) ? config.minRate : 0 %>" name="minRate">
                </label>
            </div>
            <button class="btn btn-default" id="configBtn" type="submit">Guardar</button>
        </div>
    </form>
</div>