<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>Transacción</th>
					<th>Cantidad</th>
                    <th>Fecha</th>				
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < fees.length; i++) { %>
				<tr>
					<td><%= fees[i].transaction.transaction_id %></td>
					<td>$<%= fees[i].amount.toFixed(2) %></td>
                    <td><%= fees[i].createdAt %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>