<!DOCTYPE html>
<html>
  <head>
    <title>Aido Web Admin</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <link rel="stylesheet" href="/api/styles/bootstrap.css">
    <link rel="stylesheet" href="/api/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/api/styles/importer.css">

    <style type="text/css">
      body { padding-top: 70px; }
    </style>
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/api/">
            <img alt="Aido" src="/api/images/aido_logo.png" class="img-responsive" style="height: 100%;">
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <% if (req.session && req.session.user) { %>

            <ul class="nav navbar-nav">
              <li id="users" class="menu-option"><a href="/api/user-list">Médicos</a></li>
              <li id="transactions" class="menu-option"><a href="/api/transactions-list">Transacciones</a></li>
              <li id="fees" class="menu-option"><a href="/api/fee-list">Comisiones</a></li>
              <li id="payments" class="menu-option"><a href="/api/payment-list">Pagos</a></li>
              <li id="config" class="menu-option"><a href="/api/config-list">Configuración</a></li>
            </ul>

            <button id="logout-btn" type="button" class="btn btn-default navbar-btn navbar-right">Salir</button>

          <% } else { %>

            <form class="navbar-form navbar-right" role="login" method="post" action="/api/user/loginWeb">
              <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Usuario">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Contraseña">
              </div>
              <button type="submit" class="btn btn-success">Iniciar sesión</button>
            </form>

          <% } %>
        </div>
      </div>
    </nav>

    <div class="container">

      <%- body %>

    </div>





    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->

    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->


    <!-- <script src="/api/js/dependencies/sails.io.js"></script> -->
    <script src="/api/js/dependencies/jquery-3.1.1.js"></script>
    <script src="/api/js/dependencies/bootstrap.js"></script>
    <script type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js"></script>


    <script type="text/javascript">

    $(document).ready(function () {
      Conekta.setPublishableKey('key_MpGRiMGpUZY1rkZEyQNconA');

      var conektaSuccessResponseHandler = function(token) {
        var $form = $("#card-form");
        //Add the token_id in the form
        $form.append($('<input type="hidden" id="conektaTokenId" name="token">').val(token.id));
        $form.get(0).submit(); //Submit
      };
      var conektaErrorResponseHandler = function(response) {
        var $form = $("#card-form");
        $form.find(".card-errors").text(response.message_to_purchaser);
        $form.find("button").prop("disabled", false);
      };

      $("#card-form").submit(function(event) {
          event.preventDefault();
          var $form = $(this);
          // Prevents double clic
          $form.find("button").prop("disabled", true);
          Conekta.token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);
        });

      $("#paypalbtn").on('click',function(e){
        var $form = $("#paypal-form");
        $form.find("button").prop("disabled", false);
      });

      $('.menu-option').removeClass('active');
      if (window.location.pathname == '/api/user-list') {
        $('#users').addClass('active');
      } else if (window.location.pathname == '/api/cruds'){
        $('#cruds').addClass('active');
      } else if (window.location.pathname == '/api/transactions-list'){
        $('#transactions').addClass('active');
      } else if (window.location.pathname == '/api/fee-list'){
        $('#fees').addClass('active');
      } else if (window.location.pathname == '/api/payment-list'){
        $('#payments').addClass('active');
      } else if (window.location.pathname == '/api/config-list'){
        $('#config').addClass('active');
      }
      $('#logout-btn').on('click', function (event) {
        $.get('/api/user/logout').then(function (response) {
          window.location.replace('/api/');
        });
      });

      $('.menu-option').on('click', function (event) {
        $('.menu-option').removeClass('active');
        $(this).addClass('active');
      });

      $('.btn-switch').each(function(index) {
        if ($(this).val() === 'true') {
          $(this).text('Desactivar');
        } else {
          $(this).text('Activar');
        }
      });

    });


    function activate(x,y){
      var userId = x;
      var userStatus = y;
      //var url = "http://35.165.97.7/api/user/" + userId;
      var url = "/api/user/" + userId;
      console.log(url);
      console.log(!userStatus);
      var params = "active="+!userStatus;
      var xhr = new XMLHttpRequest();
      xhr.open("POST", url, true);
      //Send the proper header information along with the request
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.addEventListener("load", function cb(){
        window.location.reload();
      });
      xhr.send(params);
    }

    </script>
  </body>
</html>