<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>Transacción</th>
					<th>Medico</th>
					<th>Cantidad</th>
                    <th>Fecha</th>				
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < payments.length; i++) { %>
				<tr>
					<td><%= payments[i].transaction.transaction_id %></td>
					<td><%= payments[i].user.email %></td>
					<td>$<%= payments[i].amount.toFixed(2) %></td>
                    <td><%= payments[i].createdAt %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>