<form action="/api/transaction/addPaypal" method="POST" id="paypal-form">
  <span class="card-errors"></span>
  <div>
    <label>
      <span>Paciente</span>
      <input type="text" size="4" value="13" name="patient">
    </label>
  </div>
  <div>
    <label>
      <span>Doctor</span>
      <input type="text" size="4" value="68" name="medic">
    </label>
  </div>
  <div style="display:none;">
    <label>
      <span>Caso</span>
      <input type="text" size="4" value="36" name="caseId">
    </label>
  </div>  
  <button id="paypalbtn">Pagar</button>
</form>