<!DOCTYPE html>
<html>
<head>
	<title>Recuperar contraseña</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>Recuperar contraseña</h1>
			<form>
				<div class="form-group">
					<label>Contraseña</label>
					<input id="pass" class="form-control" type="password" name="password">
				</div>
				<div class="form-group">
					<label>Confirmar Contraseña</label>
					<input id="confirmPass" class="form-control" type="password" name="confirmPassword">
				</div>
				<button id="send" type="button" class="btn btn-default">Enviar</button>
			</form>
		</div>
	</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script type="text/javascript">

function getParameterByName(name, url) {
    if (!url) {
      url = window.location.href;
    }
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
}

$(document).ready(function() {

	$('#send').on('click', function(event) {

		var pass = $('#pass').val();
		var confirmPass = $('#confirmPass').val();

		if (pass !== '' && pass === confirmPass) {
			var token = getParameterByName('token');
			var email = getParameterByName('email');

			$.post('/api/user/recovery', {
				token: token,
				email: email,
				password: pass
			}).done(function (response) {
				console.log(response);
				alert("Se cambio la contraseña");
			});

		} else {
			alert("Las contraseñas no coinciden");
		}

	});
});

</script>
</body>
</html>
