<form action="/api/transaction/addCard" method="POST" id="card-form">
  <span class="card-errors"></span>
  <div>
    <label>
      <span>Cardholder name</span>
      <input type="text" size="20" data-conekta="card[name]" value="Aldo Ivan Lopez Viezca" name="cardHolder">
    </label>
  </div>
  <div>
    <label>
      <span>Card number</span>
      <input type="text" size="20" data-conekta="card[number]" value="4931580001816872" name="cardNumber">
    </label>
  </div>
  <div>
    <label>
      <span>CVC</span>
      <input type="text" size="4" data-conekta="card[cvc]" value="385" name="cvc">
    </label>
  </div>
  <div>
    <label>
      <span>Expiration date (MM/YYYY)</span>
      <input type="text" size="2" data-conekta="card[exp_month]" value="10" name="month">
    </label>
    <span>/</span>
    <input type="text" size="4" data-conekta="card[exp_year]" value="2018" name="year">
  </div>
  <div>
    <label>
      <span>Paciente</span>
      <input type="text" size="4" value="13" name="patient">
    </label>
  </div>
  <div>
    <label>
      <span>Doctor</span>
      <input type="text" size="4" value="68" name="medic">
    </label>
  </div>
  <div style="display:none;">
    <label>
      <span>Caso</span>
      <input type="text" size="4" value="36" name="caseId">
    </label>
  </div>  
  <button type="submit">Create token</button>
</form>