<div class="row">
	<div class="col-xs-12">
		<a href="/api/transaction/export" class="btn btn-default">Exportar</a>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>ID</th>
					<th>Usuario</th>
					<th>Forma de Pago</th>
                    <th>Fecha</th>
					<th>Cantidad</th>
                    <th>Total</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < transactions.length; i++) { %>
				<tr>
					<td><%= transactions[i].transaction_id %></td>
					<td><%= transactions[i].user.email %></td>
                    <td><%= transactions[i].paymentMethod.name %></td>
                    <td><%= transactions[i].createdAt %></td>
                    <td>$<%= (transactions[i].amount) %></td>
                    <td>$<%= (transactions[i].total) %></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>