<div class="row">
	<div class="col-xs-12">
		<table class="table table-hover table-responsive">
			<thead>
				<tr>
					<th>Email</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Cédula</th>
					<th>Especialidad</th>
					<th>Consejo</th>
					<th>Estatus</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<% for(var i = 0; i < users.length; i++) { %>
				<tr>
					<td><%= users[i].email %></td>
					<td><%= users[i].name %></td>
					<td><%= users[i].lastname %></td>
					<td><%= (users[i].profile) ? users[i].profile.professionalCertificate : 'NA' %></td>
					<td><%= (users[i].profile) ? users[i].profile.specialistCertificate : 'NA' %></td>
					<td><%= (users[i].profile) ? users[i].profile.councilCertification : 'NA' %></td>
					<td><%= (users[i].active) ? 'activo' : 'inactivo' %></td>
					<td class="text-center">
						<button id="button<%= users[i].id%>"class="btn btn-success btn-switch" value="<%=users[i].active%>" onclick="activate(<%= users[i].id%>, <%=users[i].active%> )">Activar</button>
					</td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
